<app-default-login-layout  

    title="Login into your account"
    primaryBtnText="Login Now"
    secondaryBtnText="Signup Now"
>
    <div form-content class="div-form">
        <form [formGroup]="loginForm">
                <app-primary-inputs
                    formControlName="email"
                    inputName="email"
                    type="email"
                    label="Email"
                    placeHolder="exemplo@gmail.com"
                >
                <img src="/assets/svg/email-icon.svg" alt="">
            </app-primary-inputs>

            <app-primary-inputs
                    formControlName="password"
                    inputName="password"
                    type="password"
                    label="Your Password"
                 >
                <img src="/assets/svg/password-icon.svg" alt="">
            </app-primary-inputs>

            <span>Forgot Password</span>

        </form>
    </div>
    <!-- <div extra-content>
        <p>Teste</p>
    </div> -->

</app-default-login-layout>